<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서 검색 결과</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var loggedInUser = "[[${session.nickname}]]";

        function bookmarkBook(bookTitle, bookAuth, bookPub, bookPubYear, des, genre, ISBN, img) {
            if (!loggedInUser || loggedInUser === "null") {
                alert("로그인이 필요합니다.");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/bookmark",
                contentType: "application/x-www-form-urlencoded",
                data: ({ bookTitle: bookTitle,
                         bookAuth: bookAuth,
                         bookPub: bookPub,
                         bookPubYear: bookPubYear,
                         des: des,
                         genre: genre,
                         ISBN: ISBN,
                         img: img }),
                success: function(response) {
                    alert("북마크에 추가되었습니다!");
                },
                error: function() {
                    alert("오류가 발생했습니다.");
                }
            });
        }
    </script>
</head>
<body>
<h1>도서 검색 결과</h1>
<ul>
    <li th:each="book : ${books}">
        <!-- 도서 제목 출력 -->
        <span th:text="${book.bookTitle}">책 제목</span> <br>

        <!-- 저자 출력 -->
        <span th:text="${book.bookAuth}">저자</span> <br>

        <!-- 출판사 출력 -->
        <span th:text="${book.bookPub}">출판사</span> <br>

        <!-- 출판연도 출력 -->
        <span th:text="${book.bookPubYear}">출판 연도</span> <br>

        <span th:text="${book.Des}">줄거리</span> <br>

        <span th:text="${book.Genre}">카테고리</span> <br>

        <!-- ISBN 출력 -->
        <span th:text="${book.ISBN}">ISBN</span> <br>

        <!-- 책 이미지 출력 -->
        <img th:src="${book.img}" alt="Book Image" width="100" height="150"><br>

        <!-- 북마크 버튼, bookTitle을 함수에 전달 -->
        <button th:attr="onclick='bookmarkBook(\''
        + ${book.bookTitle} + '\', \''
        + ${book.bookAuth} + '\', \''
        + ${book.bookPub} + '\', \''
        + ${book.bookPubYear} + '\', \''
        + ${book.Des} + '\', \''
        + ${book.Genre} + '\', \''
        + ${book.ISBN} + '\', \''
        + ${book.img} + '\')'">북마크</button>
        <hr>
    </li>
</ul>

<div th:if="${books.size() == 0}">
    <p>검색 결과가 없습니다.</p>
</div>

</body>
</html>
