<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서 검색 결과</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var loggedInUser = "[[${session.nickname}]]";

        function bookmarkBook(button) {
            if (!loggedInUser || loggedInUser === "null") {
                alert("로그인이 필요합니다.");
                return;
            }
            const bookTitle = button.getAttribute("data-title");
            const bookAuth = button.getAttribute("data-auth");
            const bookPub = button.getAttribute("data-pub");
            const bookPubYear = button.getAttribute("data-pubyear");
            const des = button.getAttribute("data-des");
            const link = button.getAttribute("data-link");
            const discount = button.getAttribute("data-discount");
            const ISBN = button.getAttribute("data-isbn");
            const img = button.getAttribute("data-img");

            $.ajax({
                type: "POST",
                url: "/bookmark",
                contentType: "application/x-www-form-urlencoded",
                data: {
                    bookTitle: bookTitle,
                    bookAuth: bookAuth,
                    bookPub: bookPub,
                    bookPubYear: bookPubYear,
                    des: des,
                    link:link,
                    discount: discount,
                    ISBN: ISBN,
                    img: img
                },
                success: function(response) {
                    alert("북마크에 추가되었습니다!");
                },
                error: function() {
                    alert("오류가 발생했습니다.");
                }
            });
        }
    </script>
</head>
<body>
<h1>도서 검색 결과</h1>
<h2>총 검색 결과: <span th:text="${totalResults}"></span>권</h2>
<ul>
    <li th:each="book : ${books}">
        <a th:href="@{/books/detail/{ISBN}(ISBN=${book.ISBN})}">
            <span th:text="${book.bookTitle}">책 제목</span>
        </a> <br>

        <span th:text="${book.bookAuth}">저자</span> <br>

        <span th:text="${book.bookPub}">출판사</span> <br>

        <span th:text="${book.bookPubYear}">출판 연도</span> <br>

        <span th:text="${#strings.length(book.des) > 0 ? #strings.substring(book.des, 0, (book.des.length() > 400 ? 400 : book.des.length())) + (book.des.length() > 400 ? '...' : '') : ''}">줄거리</span> <br>

        <a th:href="${book.link}" target="_blank" th:text="${book.link}"></a> <br>

        <span th:text="${book.discount}">가격</span> <br>

        <span th:text="${book.ISBN}">ISBN</span> <br>

        <a th:href="@{/books/detail/{ISBN}(ISBN=${book.ISBN})}">
            <img th:src="${book.img}" alt="Book Image" width="100" height="150">
        </a> <br>

        <button th:data-title="${book.bookTitle}"
                th:data-auth="${book.bookAuth}"
                th:data-pub="${book.bookPub}"
                th:data-pubyear="${book.bookPubYear}"
                th:data-des="${book.des != null and book.des.length() > 0 ? #strings.substring(book.des, 0, (book.des.length() > 400 ? 400 : book.des.length())) + (book.des.length() > 400 ? '...' : '') : ''}"
                th:data-link="${book.link}"
                th:data-discount="${book.discount}"
                th:data-isbn="${book.ISBN}"
                th:data-img="${book.img}"
                onclick="bookmarkBook(this)">북마크</button>
        <hr>
    </li>
</ul>

<div id="pagination">
    <span th:each="i : ${#numbers.sequence(1, (totalResults / 10+1))}">
        <a th:href="@{/books(
            searchText=${searchText},
            page=${i},
            Start=${(i - 1) * 10 + 1},
        )}" th:text="${i}"></a>
    </span>
</div>

<div th:if="${books.size() == 0}">
    <p>검색 결과가 없습니다.</p>
</div>

</body>
</html>
